.body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    app-full-header,
    .row,
    h1 {
        z-index: 1;
    }

    .row {
        display: flex;
        flex-direction: row;
        height: 100%;

        .main-div {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1,
            p {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.7rem;
                font-weight: 500;
            }
            
            button {
                font-size: 1.7rem;
            }
        }
    }
}

@media (max-width: 950px){
    .body .row .main-div h1 {
        font-size: 2rem;
    }

    .body .row .main-div p,
    .body .row .main-div button {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px){
    .body .row .main-div h1 {
        font-size: 1.8rem;
    }

    .body .row .main-div p,
    .body .row .main-div button {
        font-size: 1.3rem;
    }
}