.row {
    display: flex;
    flex-direction: row;
    height: 100%;

    .main-div {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 95%;
    
        h1, p {
            display: flex;
            justify-content: center;
        }
    }
}
