<div class="body">
    <img class="submarine" [src]="currentImagePath" alt="background" />

    <app-full-header></app-full-header>

    <div class="container">
        <div class="app-side-nav">
            <app-side-nav></app-side-nav>
        </div>

        <div *ngIf="(wishsTab$ | async) as products" class="main-div">
            <div class="centerDiv" *ngIf="wishsLength > 0;else singleWarning">

                <h1>Liste d'envie</h1>

                <div class="list gap">
                    <ng-container>
                        
                        <mat-card *ngFor="let product of products">
                        
                            <div class="arrow">
                                <mat-icon class="red" (click)="deleteFromWishs(product.id)">cancel</mat-icon>
                            </div>

                            <mat-card-title>
                                <p class="center">{{product.name}}</p>
                            </mat-card-title>

                            <mat-card-content>
                            <img class="center" src="/assets/pictures/{{product.image}}" alt="product image">
                            </mat-card-content>
                        </mat-card>
                    </ng-container>

                </div>
            </div>
            <ng-template #singleWarning>
                <div class="centerDiv">
                    <h1>Votre liste d'envie est vide</h1>
                </div>
            </ng-template>
        </div>
    </div>
</div>