.body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;

    .submarine {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 100vh;
        overflow-y: auto;

        .main-div {
            width: 95%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);


            .centerDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: flex-start;
                
                h1 {
                    font-size: 2.5rem;
                }
                
                p {
                    color: black;
                    font-size: 1.7rem;
                }
                
                mat-grid-tile {
                    background: lightblue;
                    height: 50px;
                }
                
                .list {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    width: 900px;

                    .arrow {
                        display: flex;
                        justify-content: flex-end;

                        mat-icon {
                            margin: 10px;
                        }
                    }

                    mat-card-title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 50px;
                    }
                }

                .gap {
                    gap: 10px;
                }

                .row {
                    display: flex;
                    flex-direction: row;
                }

                .center {
                    display: flex;
                    justify-content: center;
                }

                mat-icon {
                    margin-top: auto;
                    margin-bottom: auto;
                    z-index: 1;
                }

                img {
                    height: 240px;
                    width: 240px;
                }

                .mdc-button {
                    min-width: 0;
                }

                .green {
                    color: green;
                }

                .red {
                    color: red;
                }

                .orange {
                    color: orange;
                }

                .yellow {
                    color: rgb(255, 196, 0);
                }

                .like {
                    color: pink;
                }

                .lightGrey {
                    color: lightgrey;
                }
            }
        }
    }
}

@media (max-width: 950px){
    .body .container .main-div .centerDiv h1 {
        font-size: 2rem;
    }

    .body .container .main-div .centerDiv p {
        font-size: 1.5rem;
    }

    .body .container .main-div .centerDiv .list {
        width: 600px;
    }
    
}

@media (max-width: 450px){
    .body .container .main-div .centerDiv h1 {
        font-size: 1.8rem;
    }

    .body .container .main-div .centerDiv p {
        font-size: 1.3rem;
    }

    .body .container .main-div .centerDiv .list {
        width: 300px;
    }
}