.body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;

    .submarine {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }


    .container {
        display: flex;
        flex-direction: row;
        min-height: 89.5vh;


        .main-contact-div {
            display: unset;
            width: 95%;

            .contact-title h1,
            .contact {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            mat-label {
                border: unset;
            }

            .contact-title {
                display: grid;

                mat-icon {
                    margin-right: 1rem;
                }

                h1 {
                    display: flex;
                    justify-content: center;
                    font-size: 2.5rem;
                    width: 380px;
                }
            }


            .contact {
                background-color: var(--backgroundColor);
                justify-self: center;
                margin-top: 90px;
                min-width: 340px;


                .contact-form {
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    button.mat-flat-button {
                        display: flex;
                        justify-self: center;
                        justify-content: center;
                        width: 50%;
                        align-items: center;
                        min-width: 126px;
                    }

                    .flex-column {
                        display: grid;
                    }

                    textarea {
                        height: 250px;
                    }

                    .mat-mdc-form-field {
                        width: 100%;
                    }

                    mat-form-field {
                        mat-label, 
                        input {
                            font-size: 1.3rem;
                        }
                    }

                    button {
                        font-size: 1.3rem;
                    }

                }
            }
        }
    }
}

@media (max-width: 950px) {
    .body .container .main-contact-div .contact-title h1 {
        font-size: 2rem;
    }

    .body .container .main-contact-div .contact .contact-form mat-form-field mat-label,
    .body .container .main-contact-div .contact .contact-form mat-form-field input,
    .body .container .main-contact-div .contact .contact-form button {
        font-size: 1rem;
    }

    .body .container {
        min-height: 91vh;
    }
}

@media (max-width: 450px) {
    .body .container .main-contact-div .contact-title h1 {
        font-size: 1.8rem;
    }

    .body .container .main-contact-div .contact .contact-form mat-form-field mat-label,
    .body .container .main-contact-div .contact .contact-form mat-form-field input,
    .body .container .main-contact-div .contact .contact-form button {
        font-size: 1rem;
    }

    .body .container {
        min-height: 90.7vh;
    }
}