<app-full-header></app-full-header>
<mat-grid-list cols="10">

    <mat-grid-tile colspan="1">
        <app-side-nav></app-side-nav>
    </mat-grid-tile>

    <mat-grid-tile colspan="9">
        <div class="main-contact-div">
            <div class="user-login-title">
                <h2>Demande de contact</h2>
            </div>
            <mat-card class="user-login">
                <mat-card-content>
                    <div class="user-login-form flex-column">

                        <mat-form-field appearance="outline">
                            <mat-label>E-mail</mat-label>
                            <input matInput [(ngModel)]="form.email" name="email">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="message">
                            <mat-label>Message</mat-label>
                            <textarea matInput [(ngModel)]="form.message" name="message"></textarea>
                        </mat-form-field>

                        <button mat-flat-button color="primary" type="submit" (click)="onSubmit()"
                            [disabled]="!isFormValid()">
                            Envoyer
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>