.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;

    .gap {
        margin: 15px;
    }

    button {
        font-size: medium;
    }
}
