<div class="body">
    <img class="submarine" [src]="currentImagePath" alt="background" />

    <app-full-header></app-full-header>
    
    <div class="container">
        <div class="app-side-nav">
            <app-side-nav></app-side-nav>
        </div>

        <div class="main-div">
            <div>
                <h1>Liste des produits</h1>
            </div>
            <div class="wrap">
                <ng-container *ngIf="productsWithQuantities$ | async as products">
                    <mat-card *ngFor="let product of products" class="card" [routerLink]="['/shop/product/view', product.id]">

                        <mat-card-title>
                            <h3 class="center">{{product.name}}</h3>
                        </mat-card-title>
                        <img class="center" src="/assets/pictures/{{product.image}}" alt="product image">
                    </mat-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>