<div class="full-header">
    <div class="size">

        <div class="align-left">
            <a [routerLink]="['/shop/home']">
                <mat-icon>store</mat-icon>
            </a>
        </div>

        <div class="align-title">
            <h1>SHOP</h1>
        </div>

        <div class="align-right2 gap">
            <a [routerLink]="['/shop/account']">
                <mat-icon>account_circle</mat-icon>
            </a>
            <a [routerLink]="['/shop/wish']">
                <mat-icon [matBadge]="wishCount" [matBadgeHidden]="wishCount === 0"
                    aria-hidden="false">featured_play_list
                </mat-icon>
            </a>
            <a [routerLink]="['/shop/basket']">
                <mat-icon [matBadge]="cartSize" [matBadgeHidden]="cartSize === 0" aria-hidden="false">shopping_cart
                </mat-icon>
            </a>
        </div>
    </div>
</div>