<div class="full-header">
    <div class="size">

        <div class="align-right1">
            <a [routerLink]="['/shop/home']">
                <mat-icon>store</mat-icon>
            </a>
        </div>

        <h1>SHOP</h1>

        <div class="align-right2 gap">
            <a [routerLink]="['/shop/account']">
                <mat-icon>account_circle</mat-icon>
            </a>
            <a [routerLink]="['/shop/wish']">
                <span [matBadge]="wishCount" [matBadgeHidden]="wishCount === 0">
                    <mat-icon aria-hidden="false">featured_play_list</mat-icon>
                </span>
            </a>
            <a [routerLink]="['/shop/basket']">
                <mat-icon [matBadge]="cartSize" [matBadgeHidden]="cartSize === 0"
                    aria-hidden="false">shopping_cart</mat-icon>
            </a>
        </div>
    </div>
</div>