<div class="full-header">
    <div class="row size">

        <div class="align-right1 row">
            <a [routerLink]="['/shop/home']">
                <mat-icon>store</mat-icon>
            </a>
            <h1>SHOP</h1>
        </div>

        <div class="align-right2 row gap">
            <button mat-flat-button color="primary" (click)="logOut()">se déconnecter</button>
            <a [routerLink]="['/shop/wishs']">
                <mat-icon [matBadge]="wishCount$ | async" aria-hidden="false">featured_play_list</mat-icon>
            </a>
            <a [routerLink]="['/shop/basket']">
                <mat-icon [matBadge]="cartSize$ | async" aria-hidden="false" (click)="cartMenu()">shopping_cart</mat-icon>
            </a>
        </div>
    </div>
</div>