.full-header {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: rgba($color: #00000000, $alpha: 0.6);
    
    h1 {
        font-size: 2.5rem;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .size {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 35px;
    }

    .align-left,
    .align-right2,
    .align-title {
        display: flex;
        align-items: center;
        width: 150px;
        
        mat-icon {
            scale: 2;
        }
    }


    .align-left {
        gap: 10px;

        h1 {
            margin: 0;
            text-align: center;
        }
    }

    .align-right2 {
        gap: 40px;
    }

}

@media (max-width: 950px) {

    .full-header {
        h1 {
            font-size: 2rem;
        }
        .align-right2 {
            gap: 20px;
        }
    
        .align-left,
        .align-right2,
        .align-title {
            width: 120px;
            
            mat-icon {
                scale: 1.5;
            }
        }
    }
}

@media (max-width: 450px) {
    .full-header {
        h1 {
            font-size: 2rem;
        }
        .align-right2 {
            gap: 12px;
        }
    
        .align-left,
        .align-right2,
        .align-title {
            width: 80px;
            
            mat-icon {
                scale: 1.3;
            }
        }
    }
}