.full-header {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    border-bottom: 1px solid black;

    .size {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    .align-right1,
    .align-right2 {
        display: flex;
        align-items: center;
        
        mat-icon {
            scale: 1.5;
        }
    }


    .align-right1 {
        gap: 10px;

        h1 {
            margin: 0;
            text-align: center;
        }
    }

    .align-right2 {
        gap: 15px;
    }

}