.simple-header {
    border-bottom: 1 solid black;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            margin-left: 5px;
        }

        mat-icon {
            scale: 1.5;
        }
    }
}