.body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;


    .submarine {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 89.5vh;

        .center {
            display: unset;
            width: 95%;

            .account-title h1,
            .account-content {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .account-title h1 {
                font-size: 2.5rem;
            }

            .account-content {
                background-color: var(--backgroundColor);

                margin-top: 90px;
                min-height: 290px;
                min-width: 340px;

                .account-form {
                    align-items: center;

                    .buttons-cfg {
                        display: flex;
                        justify-content: center;
                        gap: 7px;
                    }

                    mat-form-field {
                        display: flex;

                        mat-label,
                        input {
                            font-size: 1.3rem;
                        }
                    }

                    button {
                        display: flex;
                        justify-self: center;
                        font-size: 1.3rem;
                    }

                    .flex-column {
                        display: grid;
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .body .container .center .account-title h1 {
        font-size: 2rem;
    }

    .body .container .center .account-content .account-form mat-form-field mat-label,
    .body .container .center .account-content .account-form mat-form-field input,
    .body .container .center .account-content .account-form button {
        font-size: 1rem;
    }

    .body .container {
        min-height: 91vh;
    }
}

@media (max-width: 450px) {
    .body .container .center .account-title h1 {
        font-size: 1.8rem;
    }

    .body .container .center .account-content .account-form mat-form-field mat-label,
    .body .container .center .account-content .account-form mat-form-field input,
    .body .container .center .account-content .account-form button {
        font-size: 1rem;
    }

    .body .container {
        min-height: 90.7vh;
    }
}