<div class="body">
  <img class="submarine" [src]="currentImagePath" alt="background">

  <app-full-header></app-full-header>
  <div class="container">
    <div class="app-side-nav">
      <app-side-nav></app-side-nav>
    </div>

    <div class="center">

      <div class="account-title">
        <h1>
          Mon compte
        </h1>
      </div>

      <mat-card class="account-content">
        <mat-card-content>
          <form class="account-form flex-column">

            <mat-form-field appearance="outline">
              <mat-label>Firstname</mat-label>
              <input matInput [(ngModel)]="user.firstname" name="firstname">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput [(ngModel)]="user.username" name="username">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput [(ngModel)]="user.email" name="email">
            </mat-form-field>

            <div class="buttons-cfg">
              <button mat-flat-button color="primary" type="submit" (click)="putUserInfos()"
                [disabled]="!isFormValid()">
                Sauvegarder
              </button>

              <button mat-flat-button (click)="logOut()">
                Se déconnecter
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>