.container {
    display: flex;
    flex-direction: row;

    .main-div {
        display: flex;
        justify-content: center;
        width: 95%;

        .main-account-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 400px;
        
            button {
                max-width: 150px;
            }
            
            .buttons-cfg {
                display: flex;
                justify-content: center;
            }
        }
    }
}
