.body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;

    .submarine {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: row;
        position: relative;
        min-height: 89.5vh;
        overflow-y: auto;

        .main-div {
            width: 95%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            mat-icon {
                color: black;
            }

            .centerDiv {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: flex-start;


                h1 {
                    font-size: 2.5rem;
                }

                p {
                    color: black;
                    font-size: 1.7rem;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 880px;
                    gap: 5px;

                    mat-card {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        height: 150px;

                        mat-icon {
                            margin-right: 15px;
                        }
                    }

                    .card {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        h2 {
                            width: 280px;
                            margin-left: 15px;
                            color: black;
                        }

                        h2,
                        p {
                            font-size: 1.7rem;
                        }

                        mat-card-title {
                            display: flex;
                            align-items: center;
                            height: 50px;
                        }

                        mat-card-content {
                            display: flex;
                            flex-direction: row;
                            padding: 0;

                            mat-icon {
                                margin-right: 15px;
                            }
                        }

                        .inventoryStatus {
                            width: 170px;
                            justify-content: space-between;
                        }

                        .quantityInBasket {
                            width: 210px;
                        }

                        .inventoryStatus,
                        .quantityInBasket {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 50px;
                        }


                        .marginAuto {
                            margin: auto;
                        }

                    }

                    img {
                        height: 120px;
                        width: 120px;
                        margin: auto 10px auto 10px;
                        border: 1px solid black;
                    }
                }


                .green {
                    color: green;
                }

                .red {
                    color: red;
                }

                .orange {
                    color: orange;
                }

                .yellow {
                    color: rgb(255, 196, 0);
                }

                .like {
                    color: pink;
                }

                .lightGrey {
                    color: lightgrey;
                }
            }
        }
    }

}

@media (max-width: 950px) {
    .body .container .main-div .centerDiv {
        h1 {
            font-size: 2rem;
        }

        .list {
            width: 650px;

            .card {

                p,
                h2 {
                    font-size: 1.5rem;
                }

                h2 {
                    width: 200px;
                }

                mat-card-content {
                    flex-direction: column;
                    margin-left: 15px;
                }
            }
        }
    }

    .body .container {
        min-height: 91vh;
    }
}

@media (max-width: 450px) {

    .body .container .main-div .centerDiv {
        h1 {
            font-size: 1.8rem;
        }

        .list {
            width: 360px;

            mat-card img {
                margin-right: 0;
                margin-left: 0;
            }

            mat-card mat-icon {
                margin-right: 10px;
            }

            .card {
                flex-direction: column;

                h2,
                p {
                    font-size: 1.3rem;
                }

                h2 {
                    width: 180px;
                }

                mat-card-content {
                    flex-direction: column;
                    width: 180px;
                }

                h2,
                mat-card-content {
                    margin-left: 10px;
                }

                .inventoryStatus {
                    width: 150px;
                }

                .quantityInBasket {
                    width: 190px;
                }
            }
        }
    }

    .body .container {
        min-height: 90.7vh;
    }
}