<div class="body">
    <img class="submarine" [src]="currentImagePath" alt="background">

    <app-full-header></app-full-header>
    <div class="container">
        <div class="app-side-nav">
            <app-side-nav></app-side-nav>
        </div>

        <div *ngIf="(productsWithQuantities$ | async) as products" class="main-div">
            <div class="centerDiv" *ngIf="basketLength > 0;else singleWarning">

                <h1>Votre panier</h1>

                <div class="list">
                    <ng-container *ngFor="let product of products">
                        <mat-card *ngIf="product.quantityInBasket > 0">
                            <div class="card">

                                <mat-card-title>
                                    <h2>{{product.name}}</h2>
                                </mat-card-title>

                                <mat-card-content>
                                    <div class="inventoryStatus">
                                        <p>{{product.inventoryStatus}}</p>
                                        <mat-icon *ngIf="product.inventoryStatus === 'INSTOCK'"
                                            class="green">check_circle</mat-icon>
                                        <mat-icon *ngIf="product.inventoryStatus === 'OUTOFSTOCK'"
                                            class="red">error</mat-icon>
                                        <mat-icon *ngIf="product.inventoryStatus === 'LOWSTOCK'"
                                            class="orange">warning</mat-icon>
                                    </div>

                                    <div class="quantityInBasket">
                                        <p>Qty:</p>
                                        <button mat-icon-button
                                            (click)="decrease(product.id, product.quantityInBasket)">
                                            <mat-icon class="marginAuto">remove</mat-icon>
                                        </button>
                                        <p>{{product.quantityInBasket}}</p>
                                        <button mat-icon-button
                                            (click)="increase(product.id, product.quantityInBasket)">
                                            <mat-icon class="marginAuto">add</mat-icon>
                                        </button>
                                        <p>{{product.price}}</p>
                                        <mat-icon>euro_symbol</mat-icon>
                                    </div>
                                </mat-card-content>
                            </div>
                            <img class="center" src="/assets/pictures/{{product.image}}" alt="product image">
                            <mat-icon class="red" (click)="deleteFrombasket(product.id)">cancel</mat-icon>
                        </mat-card>
                    </ng-container>

                </div>
            </div>
            <ng-template #singleWarning>
                <div class="centerDiv">
                    <h1>Votre panier est vide</h1>
                </div>
            </ng-template>
        </div>
    </div>
</div>