.choicesMenu {
    display: flex;
    height: 100%;
    z-index: 10;
    position: absolute;

    button {
        width: 100%;
        height: 30px;
        justify-content: left;
        margin-top: 10px;
        color: lightgray;
        font-size: 1.1rem;
        border: 1px solid;
        background-color: rgba($color: #00000000, $alpha: 0.6);

    }

    mat-icon {
        margin-right: 15px;
    }

    .close {
        color: rgba($color: #00000000, $alpha: 0.6);
    }

    .max-width {
        max-width: 130px;
    }

    .margin-left {
        margin-left: 10px;
    }

    .margin {
        margin: 10px;
    }
}

.hamburgerMenu {
    display: flex;
    margin: 30px 0 0 15px;
}

.choicesMenu mat-icon,
.hamburgerMenu {
    scale: 1.5;
}

@media (min-width: 1190px) {

    .hamburgerMenu,
    .close {
        display: none;
    }

    .choicesMenu {
        transform: none !important;
    }
}

@media (max-width: 1189px) {
    .choicesMenu {
        width: 180px;
        margin-top: -54px;
    }
}


@media (max-width : 450px) {
    .choicesMenu {
        width: 180px;
        margin-top: -48px;
    }

    .hamburgerMenu {
        margin-top: 24px;
    }
}