.choicesMenu {
    display: flex;
    background-color: rgba(255, 255, 255, 0.952);
    height: 100%;
    z-index: 1000;
    position: absolute;

    button {
        width: 100%;
        height: 30px;
        justify-content: left;
        margin-top: 10px;
        font-size: medium;
    }

    .max-width {
        max-width: 150px;
    }

    .margin-left {
        margin-left: 10px;
    }

    .margin {
        margin: 10px;
    }
}

.hamburgerMenu {
    display: flex;
    margin: 15px;
}

.choicesMenu mat-icon,
.hamburgerMenu {
    scale: 1.5;
}

@media (min-width: 950px) {
    .hamburgerMenu,
    .close {
        display: none;
    }
    .choicesMenu {
        transform: none !important;
    }
}

@media (max-width: 949px) {
    .choicesMenu {
        width: 200px;
        margin-top: -54px;
    }
}


@media (max-width : 450px) {
    .choicesMenu {
        width: 200px;
    }
}