<mat-icon (click)="showMenu.set(true)" class="hamburgerMenu">menu</mat-icon>
<div [@openClose]="{
    value: showMenu(),
    params: {
      leaveEnd: '-100%',
      enterStart: '-100%',
      hiddenScale: 1,
      duration: '500ms'
    }
}">
    <div *ngIf="showMenu() || (screenSize$ | async)" class="choicesMenu">
        <div class="max-width margin-left">
            <button mat-button [routerLink]="['/shop/home']">Accueil
                <mat-icon>store</mat-icon>
            </button>
            <button mat-button [routerLink]="['/shop/products']">Produits
                <mat-icon>vertical_split</mat-icon>
            </button>
            <button mat-button [routerLink]="['/shop/contact']">Contact
                <mat-icon>contact_support</mat-icon>
            </button>
        </div>
        <mat-icon (click)="showMenu.set(false)" class="margin close">close</mat-icon>
    </div>
</div>